<!DOCTYPE html>
<html>
	
	<main>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script>
			$(document).ready(function(){
				$("#carInput").on("keyup", function() {
				var value = $(this).val().toLowerCase();
				$("#carTable tr").filter(function() {
				$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
				});
			});
		});
		</script>
		<h1>Cars Currently Available at DB AUTO</h1>

		<div class="input">
			<form id="add_car" action="/cars" method="post">
				<label for="car_manufacturer">Manufacturer:</label>
				<input type="text" id="car_manufacturer" name="car_manufacturer"><br><br>
				<label for="car_model">Model:</label>
				<input type="text" id="car_model" name="car_model"><br><br>
				<label for="car_model_year">Model Year:</label>
				<input type="text" id="car_model_year" name="car_model_year"><br><br>
				<label for="car_type">Type:</label>
				<input type="text" id="car_type" name="car_type"><br><br>
				<label for="car_color">Color:</label>
				<input type="text" id="car_color" name="car_color"><br><br>
				<label for="car_mileage">Mileage:</label>
				<input type="text" id="car_mileage" name="car_mileage"><br><br>
				<label for="car_price">Price:</label>
				<input type="text" id="car_price" name="car_price"><br><br>
				<label for="tires">Choose a Tire:</label>
					<select name="tire" id="tire">
						<option disabled selected></option>
						{{#each tires}}
						<option value="{{tire_id}}">{{tire_name}}</option>
						{{/each}}
					</select>
				<input type="submit" value="Submit"><br><br>
			</form>
			<input type="text" id="carInput" placeholder="Search for cars..">
		</div>
		
		<table>
			<tr>
				<th>Car ID</th>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>Model Year</th>
				<th>Type</th>
				<th>Color</th>
				<th>Mileage</th>
				<th>Price</th>
				<th>Tire ID</th>
			</tr>
			<tbody id ="carTable">
			{{#each cars}}
			<tr>
				<td>{{car_id}}</td>
				<td>{{car_manufacturer}}</td>
				<td>{{car_model}}</td>
				<td>{{car_model_year}}</td>
				<td>{{car_type}}</td>
				<td>{{car_color}}</td>
				<td>{{car_mileage}}</td>
				<td>{{car_price}}</td>
				<td>{{tires_num}}</td>
				<td><a href="/cars/{{car_id}}">Update</a></td>
				<td><button onclick="deleteCars({{car_id}})">Delete</button></td>
			</tr>
			{{/each}}
			</tbody>
	</main>

<html>