<html>
        <h1>Update {{customer.customer_first_name}} {{customer.customer_last_name}}:</h1>
        <form id="update-customer">
            First name: <input type="text" name="fname" value="{{customer.customer_first_name}}"><br>
            Last name: <input type="text" name="lname" value="{{customer.customer_last_name}}"><br>
            Email: <input type="text" name="email" value="{{customer.customer_email}}"><br>
            Phone: <input type="text" name="phone" value="{{customer.customer_phone}}"><br>
            Street: <input type="text" name="street" value="{{customer.customer_street}}"><br>
            City: <input type="text" name="city" value="{{customer.customer_city}}"><br>
            State: <input type="text" name="state" value="{{customer.customer_state}}"><br>
            Zip: <input type="text" name="zip" value="{{customer.customer_zip}}"><br>
        </form>
        <button id="update" onclick="updatecustomer({{customer.id}})">Update</button>
</html>